<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="TopEducation, Students, Creation" />
    <meta name="description" content="Add a new student to the database" />
    <title>TopEducation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px;
        background: #2e333bff;
      }

      .form-group {
        margin-bottom: 1rem;
      }

      .container-sm {
        max-height: fit-content;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        font-size: 2.5rem;
        text-align: center;
      }

    </style>
  </head>
  <body>

    <div class="container-sm">

      <h1>Create a New Student</h1>

      <form th:action="@{/studentCreator}" method="post">

        <div class="form-group">
          <label for="rut">RUT:</label>
          <input
            type="text"
            class="form-control"
            id="rut"
            name="rut"
            required
          />
        </div>

        <div class="form-group">
          <label for="firstName">Name:</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            required
          />
        </div>

        <div class="form-group">
          <label for="lastName">Last name:</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            required
          />
        </div>
        
        <div class="form-group">
          <label for="age">Birthdate:</label>
            <input
                type="date"
                class="form-control"
                id="age"
                name="age"
                required
            />
        </div>

        <div class="form-group">
          <label for="schoolName">School Name:</label>
          <input
            type="text"
            class="form-control"
            id="schoolName"
            name="schoolName"
            required
          />
        </div>

        <div class="form-group">
          <label for="schoolAddress">School type:</label>
            <input
                type="text"
                class="form-control"
                id="schoolAddress"
                name="schoolAddress"
                required
            />
        </div>

        <div class="form-group">
          <label for="schoolAddress">Graduation year:</label>
            <input
                type="text"
                class="form-control"
                id="graduationYear"
                name="graduationYear"
                required
            />
        </div>

        <div class="form-group">
          <label for="Agreed installments">Agreed installments:</label>
            <input
                type="number"
                class="form-control"
                id="schoolAddress"
                name="schoolAddress"
                required
            />
        </div>

        <!-- Button to submit the student -->
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- Button to cancel the student creation -->
        <a class="btn btn-secondary" href="studentList" role="button">Cancel</a>

      </form>
    </div>
  </body>
</html>
